body{
    background: rgb(64, 64, 64);
    font-family: 'Courier New', Courier, monospace;
}
.title{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: black;
}

.sketch-pad{
    width: 800px;
    height: 600px;
    background-color:whitesmoke;
    padding-bottom: 70px;
    border-radius: 5%;
    margin: auto;
}

 .container{
    display: grid;
    width: 700px;
    height: 400px;
    background-color: #e0e0e0;
    border:#acacac solid ;
    margin: auto;
}

.container:hover{
  cursor: crosshair;
}

.cell{
  border:#acacacfc solid thin;
}

.buttons{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  transition: all 1.3;
  }

.blackbtn{
  width: 10em;
  height: 5ex;
  background-color: black;
  border: none;
  color: white;
  border-radius: 20px;
  font-weight: bold;
}

.graybtn{
  width: 10em;
  height: 5ex;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 20px;
  font-weight: bold;
}

.rainbowbtn{
  width: 10em;
  height: 5ex;
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  color: white;
  border: none;
  border-radius: 20px;
  font-weight: bold;
}

.erasebtn{
  width: 10em;
  height: 5ex;
  background-color: pink;
  color: white;
  border: none;
  border-radius: 20px;
  font-weight: bold;
}

.clearbtn{
  width: 10em;
  height: 5ex;
  background-color: blueviolet;
  color: white;
  border: none;
  border-radius: 20px;
  font-weight: bold;
}

.resize{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.sizebtn{
  width: 10em;
  height: 5ex;
  background-color: brown;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 20px;
}

button:hover{
cursor:pointer;
}

button:active{
  box-shadow: 2px 2px 5px black;
}

.footer{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  margin: 30px;
  color: whitesmoke;
  font-weight: 900;
}
